attrs==19.1.0
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
cymem==2.0.2
docx2txt==0.7
idna==2.8
jsonschema==3.0.1
murmurhash==1.0.2
nltk==3.4.5
numpy==1.16.4
pandas==0.24.2
pdfminer.six==20181108
plac==0.9.6
preshed==2.0.1
pycryptodome==3.8.2
pyrsistent==0.15.2
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
six==1.12.0
sortedcontainers==2.1.0
spacy==2.1.4
srsly==0.0.7
textract==1.6.1
thinc==7.0.4
tqdm==4.32.2
urllib3==1.25.3
wasabi==0.2.2