blis==0.2.4
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
cymem==2.0.3
en-core-web-sm==2.1.0
Flask==1.1.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
murmurhash==1.0.2
numpy==1.18.1
pandas==0.23.4
pdfminer.six==20200124
plac==0.9.6
preshed==2.0.1
pycryptodome==3.9.7
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2019.3
regex==2020.2.20
requests==2.19.1
six==1.14.0
sortedcontainers==2.1.0
spacy==2.1.8
srsly==1.0.2
thinc==7.0.8
tqdm==4.43.0
urllib3==1.23
wasabi==0.6.0
Werkzeug==1.0.0
